<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singer</title>
</head>
<body>
    <%- include('./_header.ejs') %> 
    <form action="/" method="GET">
        <label for="name">Name</label>
        <input type="text" name="name" >
        <button type="submit">Search</button>
    </form>
    <% singers.forEach(singer=>{ %>
        <div><h2><%= singer.name %> </h2></div>
        <div><p><%= singer.age %> </p></div>
        <div><p><%= singer.description %> </p></div>
        <a href="/<%= singer.id %> ">Read More</a>
        <hr>
        <form action="/<%= singer.id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
        <br><hr>
    <% }) %> 
</body>
</html>
